type display_count, domain;
type display_count_exec, exec_type, file_type;

# Allow for transition from init domain to display_count
init_daemon_domain(display_count)
