allow fingerprintd fingerprint_service:service_manager find;
allow fingerprintd firmware_file:dir search;
allow fingerprintd firmware_file:file r_file_perms;
allow fingerprintd goodix_data_file:dir w_dir_perms;
allow fingerprintd goodix_data_file:file create_file_perms;
allow fingerprintd goodixfp_device:chr_file rw_file_perms;
allow fingerprintd self:netlink_socket create_stream_socket_perms;
allow fingerprintd tee_device:chr_file rw_file_perms;

# Debug Logs
allow fingerprintd fuse:dir search;
allow fingerprintd fuse:file rw_file_perms;
allow fingerprintd mnt_user_file:dir search;
allow fingerprintd mnt_user_file:lnk_file read;
allow fingerprintd storage_file:dir search;
allow fingerprintd storage_file:lnk_file read;
