type init_leds, domain;
type init_leds_exec, exec_type, file_type;

# Allow for transition from init domain to init_leds
init_daemon_domain(init_leds)

allow init_leds sysfs_leds:dir search;
allow init_leds sysfs_leds:file w_file_perms;
